body {
    text-align: left;
    margin-left: 220px;
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif; 
    color: white;
    font-size: 140%;
    background-color: SteelBlue;
}
#large {
    font-size: 150%;
}